{% extends 'admin/base.html' %}

{% block title%}
SubCategory
{% endblock title%}


{% block page_title %}
SubCategory
{% endblock page_title %}

{% block page_content %}
<div class="row">
  <div class="col-lg-12 ">
    <div class="search-element">
      <div class="card">
        <div class="card-header">
          <h4>Sort By:-</h4>
          <h4><a href="{% url 'sub_category_list'%}?filter={{filter}}&orderby=id">Id</a></h4> | 
          <h4><a href="{% url 'sub_category_list'%}?filter={{filter}}&orderby=title"> Title</a></h4> | 
          <h4><a href="{% url 'sub_category_list'%}?filter={{filter}}&orderby=description"> Description</a></h4> 
          <form class="card-header-form">
            <div class="input-group">
              <input type="text" name="filter" value="{{value}}" class="form-control" placeholder="Search">
              <div class="input-group-btn">
                <button class="btn btn-primary btn-icon"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


    <div class="row">
    {% for subcategory in subcategories_list %}
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <article class="article article-style-b">
          <div class="article-header">
            <div class="article-image" data-background="/media/{{ subcategory.thumbnail }}" >
            </div>
            <div class="article-badge">
              <div class="article-badge-item bg-danger"> {{subcategory.title}}</div>
            </div>
          </div>
          <div class="article-details">
            
            <div class="article-title">
                <p><span class="badge badge-info">{{subcategory.category_id.title}}</span></p>
        
                <p>{{subcategory.description}}</p>
                <p>Url_slug: <strong>{{subcategory.url_slug}}</strong></p>
                    </div>
            
            <div class="article-cta">
                <div class="form-group">
                    <label class="custom-switch mt-2" style="float:left">
                      <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" {% if subcategory.is_active == 1 %}checked{% endif %}>
                      <span class="custom-switch-indicator"></span>
                      <span class="custom-switch-description">Active</span>
                    </label>
                </div>
              <a href="{% url 'sub_category_update' subcategory.id%}" class="btn btn-primary">Edit <i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </article>
      </div>
    {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12">
      <div class="card">
                       
                        <div class="card-body">
                          <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              {% if page_obj.has_previous %}
                                  <li class="page-item"><a class="page-link" href="{% url 'sub_category_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.previous_page_number }}">Previous</a></li>
                              {% else %}
                                  <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                              {% endif %}
                              {% for i in paginator.page_range %}
                                      <li class="page-item {% if i == page_obj.number %}active{% endif %}"><a class="page-link" href="{% url 'sub_category_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ i }}">{{ i }}</a></li>
                              {% endfor %}
                              {% if page_obj.has_next %}
                                  <li class="page-item"><a class="page-link" href="{% url 'sub_category_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.next_page_number }}">Next</a></li>
                              {% else %}
                                  <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                              {% endif %}
      
                            </ul>
                          </nav>
                        </div>
                      </div>
                      </div>
      </div>
{% endblock page_content %}

